.mypage_header
  .mypage_header_container.container
    .mypage_header_row.row
      .mypage_header_left_col.col-xs-4
        %ul.list-inline
          %li Free Rides
          %li Gifts
      .mypage_header_center_col.col-xs-4
        =image_tag "uber.png", class: "black_logo center-block"
      .mypage_header_right_col.col-xs-4
        .mypage_header_right_name
          =current_user.name
.mypage_content.container
  .mypage_content.row
    .mypage_content_left.col-xs-4
    .mypage_content_right.col-xs-8
