.info-box
  .info-box__top
    =image_tag "S__14434311.jpg", class: "info-box__top__logo__img"
  .info-box__middle
    .info-box__middle__left
      %ul
        %li 日本語
        %li #UberEats
        =link_to fa_icon("instagram"),"https://www.instagram.com/"
        =link_to fa_icon("facebook-official"),"https://www.facebook.com/"
        =link_to fa_icon("twitter"),"https://twitter.com/?lang=ja"
    .info-box__middle__center
      %ul
        %li UberEATSについて
        %li 配達パートナーになる
        %li レストランパートナーになる
    .info-box__middle__right
      %ul
        %li すべての都市を見る
        %li 料金について
        %li ヘルプ
        %li よくあるご質問
        %li お問い合わせ
  .info-box__bottom
    =link_to image_tag("btn_appstore.png", class: "info-box__bottom__app"),'https://itunes.apple.com/us/genre/ios/id36?mt=8'
    =link_to image_tag("ja_badge_web_generic-066392843a.png", class: "info-box__bottom__google"),'https://play.google.com/store?hl=en'
  .info-box__extra
    %ul
      %li.info-box__extra__item__left © 2016 Uber Technologies Inc.
      %li.info-box__extra__item__center プライバシー
      %li.info-box__extra__item__right ご利用規約
