.restaurants__header.container
  = render partial: "header"
  .restaurants__header__search__row.row
    .restaurants__header__search__col.co-md-10.col-md-offset-2
      .form-group
        .icon-addon.addon-lg
          %input#restaurants__search.form-control{:placeholder => "レストランや料理を検索", :type => "text"}/
          = fa_icon("search 2x")
        .delete__triger
          ×
.restaurants__list.container
  .restaurants__list__category__top__row.row
    .restaurants__list__category__top.col-md-12
      営業時間内のレストラン
    .restaurants__list__category__under__line.col-md-12
  .restaurants__list__framework__row.row
    .restaurants__list__framework__col.col-md-12
      = render partial: "restaurant"

= render partial:"footer"
