.account-page__logo{
  background-color: black;
  &__img{
    width: 200px;
    height: 100px;
    margin-left:600px;
  }
}
.account-page__wrapper{
  width: auto;
  height: 500px;
  background-color: #F5F5F5;}
.account-page__inner{
  .account-page__inner__container.container{
    width: 100%;
  }
}
.account-page__inner{
  padding-top: 30px;
  &__col{
    .field-input{
      margin-top: 20px;
      .form-control{
        width: 60%;
      }
      .btn-block{
        width: 60%;
      }
    }
  }
  .account-page__link__col{
    width: 45%;
    margin-top: 1%;
  }
}
.footer{
  position: absolute;
  bottom: 0;
  &__image{
    .footer__outer__img{
      width: 100%;
    }
  }
}
.modal-content{
  height: 500px;
  width: 500px;
}
