.restaurants__header{
  width: auto;
  height: 152px;
  &__row{
    border-bottom: solid 2px  #F5F5F5;
  }
  &__logo{
    .header__logo__img{
      width: 200px;
      height: 40px;
      margin-top: 16px;
    }
  }
  &__search{
    line-height: 72px;
    text-align: center;
    font-size: 15px;
    .fa-map-marker{
      color: green;
      margin-right: 5px;
    }
  }
  &__modal__col{
    line-height: 69px;
    .dropdown{
      list-style: none;
    }
  }
  &__message{
    position: relative;
  }
  .img-circle{
      width: 30px;
      height: 30px;
      position: absolute;
      top: 21px;
      right: 1px;
  }
  &__sign__in__col{

    line-height: 69px;
  }
  &__shopping__col{
    line-height: 74px;
  }
  &__search__row{
    position: relative;
    border-bottom: solid 2px  #F5F5F5;
    #restaurants__search{
      width: 80%;
      margin-top: 25px;
    }

    .fa-search{
      bottom: 45px;
      right: 290px;
      color: green;
      position: absolute;
    }
    .delete__triger{
      color: black;
      position: absolute;
      right: 260px;
      bottom: 43px;
    }
    .search__button{
      border:none;
      background:none;
    }
    .delete_button{
      border:none;
      background:none;
    }
  }
}

.restaurants__list{
  height: auto;
  &__category__top__row{
  margin-top: 20px;
  }
  &__category__top{
    height: 58px;
    font-size: 32px;
    margin-left: 10px;
  }
  &__category__under__line{
    border-bottom: solid 5px green;
    margin-left: 30px;
    width: 80px;
  }
  &__contents__col{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }
}
  .restaurants__list__row{
    margin-top: 20px;
  }
.food__img{
  width: 346px;
  height: 217px;
}
.restaurant__link{
  text-decoration: none;
}
.restaurant__individual__page__top{
  width: auto;
  position: relative;
  bottom: 75px;
  &__row{
    .individual__img{

      width:1290px;
      height:364px;
    }
  }
  &__col{
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: black;
    color: white;
    width: 400px;
    height: auto;
    .restaurant__title__box{
      margin-top: 20px;
      font-size: 36px;
    }
    .restaurant__genre__box{
     color: green;
     margin-bottom: 20px;
    }
  }
}

.restaurant__menu__list{
  .restaurant__menu__side__bar__col{

  }
  .restaurant__side__bar__content{
    background-color: #f5f5f5;
    .side__bar__list{
      margin-left: 20px;
      font-size: 13px;
      line-height: 50px;
    }
  }
  .restaurant__menu__list__col{
  
  }
  .restaurant__menu__main__info {
    margin: 0 20px 30px 50px;
    display: flex;
    .menu__content{
      width: 230px;
      background-color: #f5f5f5;
      .menu__list{
        margin-left: 20px;
      }
      .menu__name{
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .menu__detail{
        color: gray;
        margin-bottom: 20px;
      }
    }
    .menu__content__image{

    }
    .menu__list__img{
      width: 220px;
      height: 205px;
    }
  }
}
.modal-content{
  height: 100%;
  .modal-menu__list{
    margin-left: 30px;

    &__title{
      text-align: left;
      font-size: 30px;
    }
    &__detail{
      color: gray;
      margin-top: 10px;
    }
  }
}
