.mypage_header{
  &_container{
    width: auto;
    height: 100%;
    background-color: black;
    color: white;
  }
    &_left_col{
      
    }
    &_center_col{
      .black_logo{
        width: 50%;
        height: 50%;
      }
    }
    &_right_name{
      text-align: center;
      line-height: 60px;
    }
}

.mypage_content.container{
  height: 700px;
  width: auto;
}
